$dark-mode: false;

/* Dark Mode Settings */
/*
$color-primary: #ff9800;
$color-bg: rgb(25, 25, 25);
$color-fg: rgb(200, 200, 200);
$color-active-bg: rgba(255, 255, 255, 0.12);
$color-hover-bg: rgba(255, 255, 255, 0.04);
$color-active-fg: rgb(255, 255, 255);
$ripple: rgba(255, 255, 255, 0.16);
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
$panel-size: 48px;
*/

/* Light Mode Settings */
$color-primary: #3f51b5;
$color-bg: rgb(238, 238, 238);
$color-fg: rgb(50, 50, 50);
$color-active-bg: rgba(0, 0, 0, 0.12);
$color-hover-bg: rgba(255, 255, 255, 0.04);
$color-active-fg: rgb(0,0,0);
$ripple: rgba(0, 0, 0, 0.16);
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
$panel-size: 48px;
