/*
$color-primary: #ff9800;
$color-bg: rgb(200, 200, 200);
$color-fg: rgb(25, 25, 25);
$color-active-bg: rgba(255, 255, 255, 0.12);
$color-hover-bg: rgba(255, 255, 255, 0.04);
$color-active-fg: rgb(0,0,0);
$ripple: rgba(0, 0, 0, 0.16);
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
$panel-size: 48px;
*/

$color-primary: #ff9800;
$color-bg: rgb(25, 25, 25);
$color-fg: rgb(200, 200, 200);
$color-active-bg: rgba(255, 255, 255, 0.12);
$color-hover-bg: rgba(255, 255, 255, 0.04);
$color-active-fg: rgb(255, 255, 255);
$ripple: rgba(255, 255, 255, 0.16);
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
$panel-size: 48px;