.headline-1 {
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px; }

.headline-2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.5px; }

.headline-3 {
  font-family: "Roboto", sans-serif;
  font-size: 48px; }

.headline-4 {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  letter-spacing: 0.25px; }

.headline-5 {
  font-family: "Roboto", sans-serif;
  font-size: 24px; }

.headline-6 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px; }

subtitle-1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px; }

.subtitle-2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px; }

.subtitle-2-bis {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px; }

.body-1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px; }

.body-2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px; }

.caption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px; }

.overline {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  letter-spacing: 1.5px; }

.dark-theme .text-medium-emphasis {
  color: rgba(255, 255, 255, 0.6); }

.dark-theme .mat-panel-button {
  height: 48px;
  width: 48px; }
  .dark-theme .mat-panel-button .mat-panel-button-icon {
    icon-size: 24px; }

.dark-theme WorkspaceButton,
.dark-theme WorkspaceButtonIcon {
  height: 48px;
  width: 48px; }

.dark-theme .workspace-active-indicator {
  background: #3f51b5;
  width: 3px;
  height: 48px; }

.dark-theme .ripple-wave {
  border-radius: 10000px;
  background: rgba(255, 255, 255, 0.12); }

.dark-theme .mat-button .mat-button-container {
  color: rgba(255, 255, 255, 0.87); }

.dark-theme .mat-button:hover .mat-button-container, .dark-theme .mat-button.highlighted .mat-button-container {
  background: rgba(255, 255, 255, 0.04); }

.dark-theme .mat-button.primary {
  background: #3f51b5; }
  .light-primary.dark-theme .mat-button.primary .mat-button-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.dark-theme .mat-button.primary .mat-button-container {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.dark-theme .mat-button.primary:hover .mat-button-container, .dark-theme .mat-button.primary.highlighted .mat-button-container {
    background: rgba(0, 0, 0, 0.04); }
  .dark-primary.dark-theme .mat-button.primary:hover .mat-button-container, .dark-theme .mat-button.primary.highlighted .mat-button-container {
    background: rgba(255, 255, 255, 0.04); }

.dark-theme .mat-button .mat-panel-button {
  color: rgba(255, 255, 255, 0.6); }
  .dark-theme .mat-button .mat-panel-button.active {
    background: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.87); }

.dark-theme #leftPanelBox,
.dark-theme #leftDashSpacer {
  width: 48px; }

.dark-theme #msPanel {
  background: #191919;
  width: 48px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  /*         .power-status.panel-status-indicators-box {
            spacing: 0;
            text-align: center;
            padding: 0px;
            spacing: 0px;

            > * {
                width: $panel-size - 20px;
                padding: 4px 0px;
                margin: 0px;
                @include foreground-medium-emphasis($theme);
            }

            &:hover {
                @include hover($theme);
                box-shadow: none;
            }

            &:active,
            &:focus,
            &:checked {
                box-shadow: inset 3px 0 0px $color-primary;
            }
        } */ }
  .dark-theme #msPanel .panel-button {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: bold;
    -natural-hpadding: 0px;
    -minimum-hpadding: 0px; }
    .dark-theme #msPanel .panel-button .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: 4px;
      margin-right: 4px; }
    .dark-theme #msPanel .panel-button:hover {
      background: rgba(255, 255, 255, 0.04); }
    .dark-theme #msPanel .panel-button:active, .dark-theme #msPanel .panel-button:overview, .dark-theme #msPanel .panel-button:focus, .dark-theme #msPanel .panel-button:checked {
      background: rgba(255, 255, 255, 0.04);
      box-shadow: inset 3px 0 0px #3f51b5;
      color: rgba(255, 255, 255, 0.87); }
    .dark-theme #msPanel .panel-button .system-status-icon {
      icon-size: 1.09em; }
    .unlock-screen .dark-theme #msPanel .panel-button,
    .login-screen .dark-theme #msPanel .panel-button,
    .lock-screen .dark-theme #msPanel .panel-button {
      color: rgba(255, 255, 255, 0.6); }
      .unlock-screen .dark-theme #msPanel .panel-button:focus, .unlock-screen .dark-theme #msPanel .panel-button:hover, .unlock-screen .dark-theme #msPanel .panel-button:active,
      .login-screen .dark-theme #msPanel .panel-button:focus,
      .login-screen .dark-theme #msPanel .panel-button:hover,
      .login-screen .dark-theme #msPanel .panel-button:active,
      .lock-screen .dark-theme #msPanel .panel-button:focus,
      .lock-screen .dark-theme #msPanel .panel-button:hover,
      .lock-screen .dark-theme #msPanel .panel-button:active {
        color: rgba(255, 255, 255, 0.87); }
  .dark-theme #msPanel .panel-status-indicators-box {
    min-height: 24px;
    vertical-align: middle;
    text-align: center; }
  .dark-theme #msPanel .panel-status-indicators-box,
  .dark-theme #msPanel .panel-status-menu-box {
    spacing: 2px; }

.dark-theme #topBarSpacer {
  height: 48px; }

.dark-theme #topPanel {
  background: #191919;
  height: 48px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .dark-theme #topPanel .task-active-indicator {
    background: white;
    height: 2px; }
  .dark-theme #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(255, 255, 255, 0.6); }
  .dark-theme #topPanel .mat-panel-button.active {
    background: rgba(255, 255, 255, 0.12); }
    .dark-theme #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(255, 255, 255, 0.87); }

.dark-theme .task-bar-item {
  font-size: 14px;
  height: 48px; }
  .dark-theme .task-bar-item.active .task-bar-item-content,
  .dark-theme .task-bar-item.active .task-bar-icon-container {
    color: rgba(255, 255, 255, 0.87); }
  .dark-theme .task-bar-item .task-bar-icon-container {
    height: 48px;
    width: 48px;
    color: rgba(255, 255, 255, 0.6); }
  .dark-theme .task-bar-item .app-icon {
    icon-size: 24px;
    width: 24px;
    height: 24px; }
  .dark-theme .task-bar-item .task-bar-item-content {
    padding: 0px 12px;
    color: rgba(255, 255, 255, 0.6); }
    .dark-theme .task-bar-item .task-bar-item-content .task-bar-item-title {
      max-width: 248px;
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 600;
      font-size: 14px; }
    .dark-theme .task-bar-item .task-bar-item-content .task-close-button {
      border-radius: 20px;
      width: 24px;
      height: 20px; }
      .dark-theme .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
        icon-size: 18px;
        color: rgba(255, 255, 255, 0.6); }

.dark-theme .system-status-icon {
  height: 24px;
  width: 24px;
  padding: 0px; }

.dark-theme .clock-display * {
  padding: 4px 0px !important; }

.dark-theme .mat-card {
  background: #191919;
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .dark-theme .mat-card .mat-card-title {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.87);
    height: 72px;
    padding: 0px 24px; }
    .dark-theme .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .dark-theme .mat-card .mat-card-title .mat-card-title-label {
      font-size: 24px; }
  .dark-theme .mat-card .mat-card-content {
    padding: 24px;
    color: rgba(255, 255, 255, 0.87); }

.dark-theme .search-entry {
  background: #191919;
  border-radius: 48px; }

.dark-theme .backdrop-container {
  background: rgba(0, 0, 0, 0.5); }

.dark-theme .surface {
  background: #191919; }

.dark-theme .surface-lighter {
  background: #212121; }

.dark-theme .surface-darker {
  background: #121212; }

.dark-theme MsWindow {
  background-color: red; }

.light-theme .text-medium-emphasis {
  color: rgba(0, 0, 0, 0.6); }

.light-theme .mat-panel-button {
  height: 48px;
  width: 48px; }
  .light-theme .mat-panel-button .mat-panel-button-icon {
    icon-size: 24px; }

.light-theme WorkspaceButton,
.light-theme WorkspaceButtonIcon {
  height: 48px;
  width: 48px; }

.light-theme .workspace-active-indicator {
  background: #3f51b5;
  width: 3px;
  height: 48px; }

.light-theme .ripple-wave {
  border-radius: 10000px;
  background: rgba(0, 0, 0, 0.12); }

.light-theme .mat-button .mat-button-container {
  color: rgba(0, 0, 0, 0.87); }

.light-theme .mat-button:hover .mat-button-container, .light-theme .mat-button.highlighted .mat-button-container {
  background: rgba(0, 0, 0, 0.04); }

.light-theme .mat-button.primary {
  background: #3f51b5; }
  .light-primary.light-theme .mat-button.primary .mat-button-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.light-theme .mat-button.primary .mat-button-container {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.light-theme .mat-button.primary:hover .mat-button-container, .light-theme .mat-button.primary.highlighted .mat-button-container {
    background: rgba(0, 0, 0, 0.04); }
  .dark-primary.light-theme .mat-button.primary:hover .mat-button-container, .light-theme .mat-button.primary.highlighted .mat-button-container {
    background: rgba(255, 255, 255, 0.04); }

.light-theme .mat-button .mat-panel-button {
  color: rgba(0, 0, 0, 0.6); }
  .light-theme .mat-button .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12);
    color: #3f51b5; }

.light-theme #leftPanelBox,
.light-theme #leftDashSpacer {
  width: 48px; }

.light-theme #msPanel {
  background: white;
  width: 48px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  /*         .power-status.panel-status-indicators-box {
            spacing: 0;
            text-align: center;
            padding: 0px;
            spacing: 0px;

            > * {
                width: $panel-size - 20px;
                padding: 4px 0px;
                margin: 0px;
                @include foreground-medium-emphasis($theme);
            }

            &:hover {
                @include hover($theme);
                box-shadow: none;
            }

            &:active,
            &:focus,
            &:checked {
                box-shadow: inset 3px 0 0px $color-primary;
            }
        } */ }
  .light-theme #msPanel .panel-button {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: bold;
    -natural-hpadding: 0px;
    -minimum-hpadding: 0px; }
    .light-theme #msPanel .panel-button .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: 4px;
      margin-right: 4px; }
    .light-theme #msPanel .panel-button:hover {
      background: rgba(0, 0, 0, 0.04); }
    .light-theme #msPanel .panel-button:active, .light-theme #msPanel .panel-button:overview, .light-theme #msPanel .panel-button:focus, .light-theme #msPanel .panel-button:checked {
      background: rgba(0, 0, 0, 0.04);
      box-shadow: inset 3px 0 0px #3f51b5;
      color: rgba(0, 0, 0, 0.87); }
    .light-theme #msPanel .panel-button .system-status-icon {
      icon-size: 1.09em; }
    .unlock-screen .light-theme #msPanel .panel-button,
    .login-screen .light-theme #msPanel .panel-button,
    .lock-screen .light-theme #msPanel .panel-button {
      color: rgba(0, 0, 0, 0.6); }
      .unlock-screen .light-theme #msPanel .panel-button:focus, .unlock-screen .light-theme #msPanel .panel-button:hover, .unlock-screen .light-theme #msPanel .panel-button:active,
      .login-screen .light-theme #msPanel .panel-button:focus,
      .login-screen .light-theme #msPanel .panel-button:hover,
      .login-screen .light-theme #msPanel .panel-button:active,
      .lock-screen .light-theme #msPanel .panel-button:focus,
      .lock-screen .light-theme #msPanel .panel-button:hover,
      .lock-screen .light-theme #msPanel .panel-button:active {
        color: rgba(0, 0, 0, 0.87); }
  .light-theme #msPanel .panel-status-indicators-box {
    min-height: 24px;
    vertical-align: middle;
    text-align: center; }
  .light-theme #msPanel .panel-status-indicators-box,
  .light-theme #msPanel .panel-status-menu-box {
    spacing: 2px; }

.light-theme #topBarSpacer {
  height: 48px; }

.light-theme #topPanel {
  background: white;
  height: 48px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .light-theme #topPanel .task-active-indicator {
    background: #3f51b5;
    height: 2px; }
  .light-theme #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(0, 0, 0, 0.6); }
  .light-theme #topPanel .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12); }
    .light-theme #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(0, 0, 0, 0.87); }

.light-theme .task-bar-item {
  font-size: 14px;
  height: 48px; }
  .light-theme .task-bar-item.active .task-bar-item-content,
  .light-theme .task-bar-item.active .task-bar-icon-container {
    color: #3f51b5; }
  .light-theme .task-bar-item .task-bar-icon-container {
    height: 48px;
    width: 48px;
    color: rgba(0, 0, 0, 0.6); }
  .light-theme .task-bar-item .app-icon {
    icon-size: 24px;
    width: 24px;
    height: 24px; }
  .light-theme .task-bar-item .task-bar-item-content {
    padding: 0px 12px;
    color: rgba(0, 0, 0, 0.6); }
    .light-theme .task-bar-item .task-bar-item-content .task-bar-item-title {
      max-width: 248px;
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 600;
      font-size: 14px; }
    .light-theme .task-bar-item .task-bar-item-content .task-close-button {
      border-radius: 20px;
      width: 24px;
      height: 20px; }
      .light-theme .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
        icon-size: 18px;
        color: rgba(0, 0, 0, 0.6); }

.light-theme .system-status-icon {
  height: 24px;
  width: 24px;
  padding: 0px; }

.light-theme .clock-display * {
  padding: 4px 0px !important; }

.light-theme .mat-card {
  background: white;
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .light-theme .mat-card .mat-card-title {
    background: rgba(0, 0, 0, 0.04);
    color: #3f51b5;
    height: 72px;
    padding: 0px 24px; }
    .light-theme .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .light-theme .mat-card .mat-card-title .mat-card-title-label {
      font-size: 24px; }
  .light-theme .mat-card .mat-card-content {
    padding: 24px;
    color: rgba(0, 0, 0, 0.87); }

.light-theme .search-entry {
  background: white;
  border-radius: 48px; }

.light-theme .backdrop-container {
  background: rgba(0, 0, 0, 0.5); }

.light-theme .surface {
  background: white; }

.light-theme .surface-lighter {
  background: white; }

.light-theme .surface-darker {
  background: #b3b3b3; }

.light-theme MsWindow {
  background-color: red; }

.light-primary.primary-theme .text-medium-emphasis {
  color: rgba(0, 0, 0, 0.6); }

.dark-primary.primary-theme .text-medium-emphasis {
  color: rgba(255, 255, 255, 0.6); }

.primary-theme .mat-panel-button {
  height: 48px;
  width: 48px; }
  .primary-theme .mat-panel-button .mat-panel-button-icon {
    icon-size: 24px; }

.primary-theme WorkspaceButton,
.primary-theme WorkspaceButtonIcon {
  height: 48px;
  width: 48px; }

.primary-theme .workspace-active-indicator {
  width: 3px;
  height: 48px; }
  .light-primary.primary-theme .workspace-active-indicator {
    background: rgba(0, 0, 0, 0.87); }
  .dark-primary.primary-theme .workspace-active-indicator {
    background: rgba(255, 255, 255, 0.87); }

.primary-theme .ripple-wave {
  border-radius: 10000px; }
  .light-primary.primary-theme .ripple-wave {
    background: rgba(0, 0, 0, 0.12); }
  .dark-primary.primary-theme .ripple-wave {
    background: rgba(255, 255, 255, 0.12); }

.light-primary.primary-theme .mat-button .mat-button-container {
  color: rgba(0, 0, 0, 0.87); }

.dark-primary.primary-theme .mat-button .mat-button-container {
  color: rgba(255, 255, 255, 0.87); }

.light-primary.primary-theme .mat-button:hover .mat-button-container, .primary-theme .mat-button.highlighted .mat-button-container {
  background: rgba(0, 0, 0, 0.04); }

.dark-primary.primary-theme .mat-button:hover .mat-button-container, .primary-theme .mat-button.highlighted .mat-button-container {
  background: rgba(255, 255, 255, 0.04); }

.primary-theme .mat-button.primary {
  background: #3f51b5; }
  .light-primary.primary-theme .mat-button.primary .mat-button-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.primary-theme .mat-button.primary .mat-button-container {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.primary-theme .mat-button.primary:hover .mat-button-container, .primary-theme .mat-button.primary.highlighted .mat-button-container {
    background: rgba(0, 0, 0, 0.04); }
  .dark-primary.primary-theme .mat-button.primary:hover .mat-button-container, .primary-theme .mat-button.primary.highlighted .mat-button-container {
    background: rgba(255, 255, 255, 0.04); }

.light-primary.primary-theme .mat-button .mat-panel-button {
  color: rgba(0, 0, 0, 0.6); }

.dark-primary.primary-theme .mat-button .mat-panel-button {
  color: rgba(255, 255, 255, 0.6); }

.light-primary.primary-theme .mat-button .mat-panel-button.active {
  background: rgba(0, 0, 0, 0.12); }

.dark-primary.primary-theme .mat-button .mat-panel-button.active {
  background: rgba(255, 255, 255, 0.12); }

.light-primary.primary-theme .mat-button .mat-panel-button.active {
  color: rgba(0, 0, 0, 0.87); }

.dark-primary.primary-theme .mat-button .mat-panel-button.active {
  color: rgba(255, 255, 255, 0.87); }

.primary-theme #leftPanelBox,
.primary-theme #leftDashSpacer {
  width: 48px; }

.primary-theme #msPanel {
  background: #3f51b5;
  width: 48px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  /*         .power-status.panel-status-indicators-box {
            spacing: 0;
            text-align: center;
            padding: 0px;
            spacing: 0px;

            > * {
                width: $panel-size - 20px;
                padding: 4px 0px;
                margin: 0px;
                @include foreground-medium-emphasis($theme);
            }

            &:hover {
                @include hover($theme);
                box-shadow: none;
            }

            &:active,
            &:focus,
            &:checked {
                box-shadow: inset 3px 0 0px $color-primary;
            }
        } */ }
  .primary-theme #msPanel .panel-button {
    text-align: center;
    font-weight: bold;
    -natural-hpadding: 0px;
    -minimum-hpadding: 0px; }
    .light-primary.primary-theme #msPanel .panel-button {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary.primary-theme #msPanel .panel-button {
      color: rgba(255, 255, 255, 0.6); }
    .primary-theme #msPanel .panel-button .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: 4px;
      margin-right: 4px; }
    .light-primary.primary-theme #msPanel .panel-button:hover {
      background: rgba(0, 0, 0, 0.04); }
    .dark-primary.primary-theme #msPanel .panel-button:hover {
      background: rgba(255, 255, 255, 0.04); }
    .primary-theme #msPanel .panel-button:active, .primary-theme #msPanel .panel-button:overview, .primary-theme #msPanel .panel-button:focus, .primary-theme #msPanel .panel-button:checked {
      box-shadow: inset 3px 0 0px #3f51b5; }
      .light-primary.primary-theme #msPanel .panel-button:active, .primary-theme #msPanel .panel-button:overview, .primary-theme #msPanel .panel-button:focus, .primary-theme #msPanel .panel-button:checked {
        background: rgba(0, 0, 0, 0.04); }
      .dark-primary.primary-theme #msPanel .panel-button:active, .primary-theme #msPanel .panel-button:overview, .primary-theme #msPanel .panel-button:focus, .primary-theme #msPanel .panel-button:checked {
        background: rgba(255, 255, 255, 0.04); }
      .light-primary.primary-theme #msPanel .panel-button:active, .primary-theme #msPanel .panel-button:overview, .primary-theme #msPanel .panel-button:focus, .primary-theme #msPanel .panel-button:checked {
        color: rgba(0, 0, 0, 0.87); }
      .dark-primary.primary-theme #msPanel .panel-button:active, .primary-theme #msPanel .panel-button:overview, .primary-theme #msPanel .panel-button:focus, .primary-theme #msPanel .panel-button:checked {
        color: rgba(255, 255, 255, 0.87); }
    .primary-theme #msPanel .panel-button .system-status-icon {
      icon-size: 1.09em; }
    .light-primary.unlock-screen .primary-theme #msPanel .panel-button, .login-screen .primary-theme #msPanel .panel-button, .lock-screen .primary-theme #msPanel .panel-button {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary.unlock-screen .primary-theme #msPanel .panel-button, .login-screen .primary-theme #msPanel .panel-button, .lock-screen .primary-theme #msPanel .panel-button {
      color: rgba(255, 255, 255, 0.6); }
    .light-primary.unlock-screen .primary-theme #msPanel .panel-button:focus, .unlock-screen .primary-theme #msPanel .panel-button:hover, .unlock-screen .primary-theme #msPanel .panel-button:active, .login-screen .primary-theme #msPanel .panel-button:focus, .login-screen .primary-theme #msPanel .panel-button:hover, .login-screen .primary-theme #msPanel .panel-button:active, .lock-screen .primary-theme #msPanel .panel-button:focus, .lock-screen .primary-theme #msPanel .panel-button:hover, .lock-screen .primary-theme #msPanel .panel-button:active {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.unlock-screen .primary-theme #msPanel .panel-button:focus, .unlock-screen .primary-theme #msPanel .panel-button:hover, .unlock-screen .primary-theme #msPanel .panel-button:active, .login-screen .primary-theme #msPanel .panel-button:focus, .login-screen .primary-theme #msPanel .panel-button:hover, .login-screen .primary-theme #msPanel .panel-button:active, .lock-screen .primary-theme #msPanel .panel-button:focus, .lock-screen .primary-theme #msPanel .panel-button:hover, .lock-screen .primary-theme #msPanel .panel-button:active {
      color: rgba(255, 255, 255, 0.87); }
  .primary-theme #msPanel .panel-status-indicators-box {
    min-height: 24px;
    vertical-align: middle;
    text-align: center; }
  .primary-theme #msPanel .panel-status-indicators-box,
  .primary-theme #msPanel .panel-status-menu-box {
    spacing: 2px; }

.primary-theme #topBarSpacer {
  height: 48px; }

.primary-theme #topPanel {
  background: white;
  height: 48px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .primary-theme #topPanel .task-active-indicator {
    background: #3f51b5;
    height: 2px; }
  .primary-theme #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(0, 0, 0, 0.6); }
  .primary-theme #topPanel .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12); }
    .primary-theme #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(0, 0, 0, 0.87); }

.primary-theme .task-bar-item {
  font-size: 14px;
  height: 48px; }
  .light-primary.primary-theme .task-bar-item.active .task-bar-item-content, .primary-theme .task-bar-item.active .task-bar-icon-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.primary-theme .task-bar-item.active .task-bar-item-content, .primary-theme .task-bar-item.active .task-bar-icon-container {
    color: rgba(255, 255, 255, 0.87); }
  .primary-theme .task-bar-item .task-bar-icon-container {
    height: 48px;
    width: 48px; }
    .light-primary.primary-theme .task-bar-item .task-bar-icon-container {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary.primary-theme .task-bar-item .task-bar-icon-container {
      color: rgba(255, 255, 255, 0.6); }
  .primary-theme .task-bar-item .app-icon {
    icon-size: 24px;
    width: 24px;
    height: 24px; }
  .primary-theme .task-bar-item .task-bar-item-content {
    padding: 0px 12px; }
    .light-primary.primary-theme .task-bar-item .task-bar-item-content {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary.primary-theme .task-bar-item .task-bar-item-content {
      color: rgba(255, 255, 255, 0.6); }
    .primary-theme .task-bar-item .task-bar-item-content .task-bar-item-title {
      max-width: 248px;
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 600;
      font-size: 14px; }
    .primary-theme .task-bar-item .task-bar-item-content .task-close-button {
      border-radius: 20px;
      width: 24px;
      height: 20px; }
      .primary-theme .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
        icon-size: 18px; }
        .light-primary.primary-theme .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
          color: rgba(0, 0, 0, 0.6); }
        .dark-primary.primary-theme .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
          color: rgba(255, 255, 255, 0.6); }

.primary-theme .system-status-icon {
  height: 24px;
  width: 24px;
  padding: 0px; }

.primary-theme .clock-display * {
  padding: 4px 0px !important; }

.primary-theme .mat-card {
  background: white;
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .primary-theme .mat-card .mat-card-title {
    background: #3f51b5;
    height: 72px;
    padding: 0px 24px; }
    .light-primary.primary-theme .mat-card .mat-card-title {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.primary-theme .mat-card .mat-card-title {
      color: rgba(255, 255, 255, 0.87); }
    .primary-theme .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .primary-theme .mat-card .mat-card-title .mat-card-title-label {
      font-size: 24px; }
  .primary-theme .mat-card .mat-card-content {
    padding: 24px; }
    .light-primary.primary-theme .mat-card .mat-card-content {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.primary-theme .mat-card .mat-card-content {
      color: rgba(255, 255, 255, 0.87); }

.primary-theme .search-entry {
  background: #3f51b5;
  border-radius: 48px; }

.primary-theme .backdrop-container {
  background: rgba(0, 0, 0, 0.5); }

.primary-theme .surface {
  background: #3f51b5; }

.primary-theme .surface-lighter {
  background: #707ecd; }

.primary-theme .surface-darker {
  background: #2c397f; }

.primary-theme MsWindow {
  background-color: red; }
