$color-primary: #3f51b5;
$ripple: rgba(255, 255, 255, 0.12);
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
$panel-size: 48px;

@mixin foreground($theme, $opacity) {
    @if ($theme == 'light') {
        color: rgba(0, 0, 0, $opacity);
    }
    @if ($theme == 'dark') {
        color: rgba(255, 255, 255, $opacity);
    }
    @if ($theme == 'primary') {
        @at-root .light-primary#{&} {
            color: rgba(0, 0, 0, $opacity);
        }
        @at-root .dark-primary#{&} {
            color: rgba(255, 255, 255, $opacity);
        }
    }
}

@mixin background($theme) {
    @if ($theme == 'light') {
        background: rgba(255, 255, 255, 1);
    }
    @if ($theme == 'dark') {
        background: rgba(25, 25, 25, 1);
    }
    @if ($theme == 'primary') {
        background: $color-primary;
    }
}

@mixin foreground-as-background($theme, $opacity) {
    @if ($theme == 'light') {
        background: rgba(0, 0, 0, $opacity);
    }
    @if ($theme == 'dark') {
        background: rgba(255, 255, 255, $opacity);
    }
    @if ($theme == 'primary') {
        @at-root .light-primary#{&} {
            background: rgba(0, 0, 0, $opacity);
        }
        @at-root .dark-primary#{&} {
            background: rgba(255, 255, 255, $opacity);
        }
    }
}

@mixin hover($theme) {
    @if ($theme == 'light') {
        background: rgba(0, 0, 0, 0.04);
    }
    @if ($theme == 'dark') {
        background: rgba(255, 255, 255, 0.04);
    }
    @if ($theme == 'primary') {
        @at-root .light-primary#{&} {
            background: rgba(0, 0, 0, 0.04);
        }
        @at-root .dark-primary#{&} {
            background: rgba(255, 255, 255, 0.04);
        }
    }
}
@mixin active($theme) {
    @if ($theme == 'light') {
        background: rgba(0, 0, 0, 0.12);
    }
    @if ($theme == 'dark') {
        background: rgba(255, 255, 255, 0.12);
    }
    @if ($theme == 'primary') {
        @at-root .light-primary#{&} {
            background: rgba(0, 0, 0, 0.12);
        }
        @at-root .dark-primary#{&} {
            background: rgba(255, 255, 255, 0.12);
        }
    }
}

@mixin foreground-high-emphasis($theme) {
    @include foreground($theme, 0.87);
}

@mixin foreground-medium-emphasis($theme) {
    @include foreground($theme, 0.6);
}

@mixin foreground-disabled($theme) {
    @include foreground($theme, 0.38);
}

@mixin foreground-as-background-high-emphasis($theme) {
    @include foreground-as-background($theme, 0.87);
}

@mixin foreground-as-background-medium-emphasis($theme) {
    @include foreground-as-background($theme, 0.6);
}

@mixin foreground-as-background-disabled($theme) {
    @include foreground-as-background($theme, 0.38);
}

@mixin buildTheme($theme) {
    .mat-panel-button {
        height: $panel-size;
        width: $panel-size;
        .mat-panel-button-icon {
            width: 24px;
            height: 24px;
        }
    }

    .workspace-active-indicator {
        @if ($theme == 'primary') {
            @include foreground-as-background-high-emphasis('primary');
        } @else {
            @include background('primary');
        }
        width: 3px;
        height: 48px;
    }

    .ripple-wave {
        //This is a hack because percentage is not handled yet
        border-radius: 2000px;
        @include active($theme);
    }

    #leftPanelBox,
    #leftDashSpacer {
        width: $panel-size;
    }

    .mat-button {
        .mat-button-container {
            @include foreground-high-emphasis($theme);
        }
        &:hover {
            .mat-button-container {
                @include hover($theme);
            }
        }
        &.primary {
            @include background('primary');
            .mat-button-container {
                @include foreground-high-emphasis('primary');
            }
            &:hover {
                .mat-button-container {
                    @include hover('primary');
                }
            }
        }
    }
    .mat-button {
        .mat-panel-button {
            @include foreground-medium-emphasis($theme);

            &.active {
                @include active($theme);
                @if ($theme == 'light') {
                    color: $color-primary;
                } @else {
                    @include foreground-high-emphasis($theme);
                }
            }
        }
    }
    #panel {
        @include background($theme);
        width: $panel-size;
        box-shadow: $shadow;
        #panelLeft,
        #panelCenter,
        #panelRight {
            // spacing between activities<>app menu and such
            spacing: 0px;
        }

        .panel-button {
            @include foreground-medium-emphasis($theme);
            text-align: center;
            padding: 0px;
            spacing: 0px;
            > * {
                width: $panel-size - 20px;
                padding: 4px 0px;
                margin: 0px;
                @include foreground-medium-emphasis($theme);
            }
            &:hover {
                @include hover($theme);
                box-shadow: none;
            }
            &:active,
            &:focus,
            &:checked {
                box-shadow: inset 3px 0 0px $color-primary;
            }
        }
    }

    #topBarSpacer {
        height: $panel-size;
    }

    #topPanel {
        $topPanelTheme: $theme;
        @if ($theme == 'primary') {
            $topPanelTheme: 'light';
        }
        @include background($topPanelTheme);
        height: $panel-size;
        box-shadow: $shadow;
        .task-active-indicator {
            @if ($topPanelTheme == 'dark') {
                @include background('light');
            } @else {
                @include background('primary');
            }
            height: 2px;
        }
        .task-bar-item {
            font-size: 14px;
            height: $panel-size;
            &.active {
                .task-bar-item-content {
                    .task-bar-item-title {
                        @if ($topPanelTheme == 'light') {
                            color: $color-primary;
                        } @else {
                            @include foreground-high-emphasis($topPanelTheme);
                        }
                    }
                }
            }
            .task-bar-item-content {
                padding: 0px 8px;
                .app-icon {
                    icon-size: 24px;
                    margin-right: 8px;
                }
                .task-bar-item-title {
                    max-width: 248px;
                    margin-right: 8px;
                    font-weight: 600;
                    font-size: 14px;
                    @include foreground-medium-emphasis($topPanelTheme);
                }
                .task-close-button {
                    border-radius: 20px;
                    width: 24px;
                    height: 20px;
                    .task-close-icon {
                        icon-size: 18px;
                        @include foreground-medium-emphasis($topPanelTheme);
                    }
                }
            }
        }
        .mat-panel-button {
            .mat-panel-button-icon {
                @include foreground-medium-emphasis($topPanelTheme);
            }
            &.active {
                @include active($topPanelTheme);
                .mat-panel-button-icon {
                    @include foreground-high-emphasis($topPanelTheme);
                }
            }
        }
    }

    .system-status-icon {
        height: 24px;
        width: 24px;
        padding: 0px;
    }

    .clock-display {
        * {
            padding: 4px 0px !important;
        }
    }

    .mat-card {
        @if ($theme == 'primary') {
            @include background('light');
        } @else {
            @include background($theme);
        }
        border-radius: 6px;
        box-shadow: $shadow;
        .mat-card-title {
            @if ($theme == 'primary') {
                @include background($theme);
            } @else {
                @include hover($theme);
            }
            @if ($theme == 'light') {
                color: $color-primary;
            } @else {
                @include foreground-high-emphasis($theme);
            }
            height: 72px;
            padding: 0px 24px;
            .mat-card-title-icon {
                icon-size: 40px;
                margin-right: 16px;
            }
            .mat-card-title-label {
                font-size: 24px;
            }
        }
        .mat-card-content {
            padding: 24px;
            @include foreground-high-emphasis($theme);
        }
    }

    .categorized-app-card {
        .overview-icon {
            margin: 8px;
        }
        .overview-icon-with-label {
            @if ($theme == 'primary') {
                @include foreground-high-emphasis('light');
            } @else {
                @include foreground-high-emphasis($theme);
            }
        }
    }

    .backdrop-container {
        background: rgba(0, 0, 0, 0.5);
    }
}

.dark-theme {
    @include buildTheme('dark');
}
.light-theme {
    @include buildTheme('light');
}
.primary-theme {
    @include buildTheme('primary');
}
