.dark-theme .mat-panel-button {
  height: 48px;
  width: 48px; }
  .dark-theme .mat-panel-button .mat-panel-button-icon {
    width: 24px;
    height: 24px; }

.dark-theme .workspace-active-indicator {
  background: #3f51b5;
  width: 3px;
  height: 48px; }

.dark-theme .ripple-wave {
  border-radius: 2000px;
  background: rgba(255, 255, 255, 0.12); }

.dark-theme #leftPanelBox,
.dark-theme #leftDashSpacer {
  width: 48px; }

.dark-theme .mat-button .mat-button-container {
  color: rgba(255, 255, 255, 0.87); }

.dark-theme .mat-button:hover .mat-button-container {
  background: rgba(255, 255, 255, 0.04); }

.dark-theme .mat-button.primary {
  background: #3f51b5; }
  .light-primary.dark-theme .mat-button.primary .mat-button-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.dark-theme .mat-button.primary .mat-button-container {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.dark-theme .mat-button.primary:hover .mat-button-container {
    background: rgba(0, 0, 0, 0.04); }
  .dark-primary.dark-theme .mat-button.primary:hover .mat-button-container {
    background: rgba(255, 255, 255, 0.04); }

.dark-theme .mat-button .mat-panel-button {
  color: rgba(255, 255, 255, 0.6); }
  .dark-theme .mat-button .mat-panel-button.active {
    background: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.87); }

.dark-theme #panel {
  background: #191919;
  width: 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .dark-theme #panel #panelLeft,
  .dark-theme #panel #panelCenter,
  .dark-theme #panel #panelRight {
    spacing: 0px; }
  .dark-theme #panel .panel-button {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 0px;
    spacing: 0px; }
    .dark-theme #panel .panel-button > * {
      width: 28px;
      padding: 4px 0px;
      margin: 0px;
      color: rgba(255, 255, 255, 0.6); }
    .dark-theme #panel .panel-button:hover {
      background: rgba(255, 255, 255, 0.04);
      box-shadow: none; }
    .dark-theme #panel .panel-button:active, .dark-theme #panel .panel-button:focus, .dark-theme #panel .panel-button:checked {
      box-shadow: inset 3px 0 0px #3f51b5; }

.dark-theme #topBarSpacer {
  height: 48px; }

.dark-theme #topPanel {
  background: #191919;
  height: 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .dark-theme #topPanel .task-active-indicator {
    background: white;
    height: 2px; }
  .dark-theme #topPanel .task-bar-item {
    font-size: 14px;
    height: 48px; }
    .dark-theme #topPanel .task-bar-item.active .task-bar-item-content .task-bar-item-title {
      color: rgba(255, 255, 255, 0.87); }
    .dark-theme #topPanel .task-bar-item .task-bar-item-content {
      padding: 0px 8px; }
      .dark-theme #topPanel .task-bar-item .task-bar-item-content .app-icon {
        icon-size: 24px;
        margin-right: 8px; }
      .dark-theme #topPanel .task-bar-item .task-bar-item-content .task-bar-item-title {
        max-width: 248px;
        margin-right: 8px;
        font-weight: 600;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6); }
      .dark-theme #topPanel .task-bar-item .task-bar-item-content .task-close-button {
        border-radius: 20px;
        width: 24px;
        height: 20px; }
        .dark-theme #topPanel .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
          icon-size: 18px;
          color: rgba(255, 255, 255, 0.6); }
  .dark-theme #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(255, 255, 255, 0.6); }
  .dark-theme #topPanel .mat-panel-button.active {
    background: rgba(255, 255, 255, 0.12); }
    .dark-theme #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(255, 255, 255, 0.87); }

.dark-theme .system-status-icon {
  height: 24px;
  width: 24px;
  padding: 0px; }

.dark-theme .clock-display * {
  padding: 4px 0px !important; }

.dark-theme .mat-card {
  background: #191919;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .dark-theme .mat-card .mat-card-title {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.87);
    height: 72px;
    padding: 0px 24px; }
    .dark-theme .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .dark-theme .mat-card .mat-card-title .mat-card-title-label {
      font-size: 24px; }
  .dark-theme .mat-card .mat-card-content {
    padding: 24px;
    color: rgba(255, 255, 255, 0.87); }

.dark-theme .categorized-app-card .overview-icon {
  margin: 8px; }

.dark-theme .categorized-app-card .overview-icon-with-label {
  color: rgba(255, 255, 255, 0.87); }

.dark-theme .backdrop-container {
  background: rgba(0, 0, 0, 0.5); }

.light-theme .mat-panel-button {
  height: 48px;
  width: 48px; }
  .light-theme .mat-panel-button .mat-panel-button-icon {
    width: 24px;
    height: 24px; }

.light-theme .workspace-active-indicator {
  background: #3f51b5;
  width: 3px;
  height: 48px; }

.light-theme .ripple-wave {
  border-radius: 2000px;
  background: rgba(0, 0, 0, 0.12); }

.light-theme #leftPanelBox,
.light-theme #leftDashSpacer {
  width: 48px; }

.light-theme .mat-button .mat-button-container {
  color: rgba(0, 0, 0, 0.87); }

.light-theme .mat-button:hover .mat-button-container {
  background: rgba(0, 0, 0, 0.04); }

.light-theme .mat-button.primary {
  background: #3f51b5; }
  .light-primary.light-theme .mat-button.primary .mat-button-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.light-theme .mat-button.primary .mat-button-container {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.light-theme .mat-button.primary:hover .mat-button-container {
    background: rgba(0, 0, 0, 0.04); }
  .dark-primary.light-theme .mat-button.primary:hover .mat-button-container {
    background: rgba(255, 255, 255, 0.04); }

.light-theme .mat-button .mat-panel-button {
  color: rgba(0, 0, 0, 0.6); }
  .light-theme .mat-button .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12);
    color: #3f51b5; }

.light-theme #panel {
  background: white;
  width: 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .light-theme #panel #panelLeft,
  .light-theme #panel #panelCenter,
  .light-theme #panel #panelRight {
    spacing: 0px; }
  .light-theme #panel .panel-button {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 0px;
    spacing: 0px; }
    .light-theme #panel .panel-button > * {
      width: 28px;
      padding: 4px 0px;
      margin: 0px;
      color: rgba(0, 0, 0, 0.6); }
    .light-theme #panel .panel-button:hover {
      background: rgba(0, 0, 0, 0.04);
      box-shadow: none; }
    .light-theme #panel .panel-button:active, .light-theme #panel .panel-button:focus, .light-theme #panel .panel-button:checked {
      box-shadow: inset 3px 0 0px #3f51b5; }

.light-theme #topBarSpacer {
  height: 48px; }

.light-theme #topPanel {
  background: white;
  height: 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .light-theme #topPanel .task-active-indicator {
    background: #3f51b5;
    height: 2px; }
  .light-theme #topPanel .task-bar-item {
    font-size: 14px;
    height: 48px; }
    .light-theme #topPanel .task-bar-item.active .task-bar-item-content .task-bar-item-title {
      color: #3f51b5; }
    .light-theme #topPanel .task-bar-item .task-bar-item-content {
      padding: 0px 8px; }
      .light-theme #topPanel .task-bar-item .task-bar-item-content .app-icon {
        icon-size: 24px;
        margin-right: 8px; }
      .light-theme #topPanel .task-bar-item .task-bar-item-content .task-bar-item-title {
        max-width: 248px;
        margin-right: 8px;
        font-weight: 600;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6); }
      .light-theme #topPanel .task-bar-item .task-bar-item-content .task-close-button {
        border-radius: 20px;
        width: 24px;
        height: 20px; }
        .light-theme #topPanel .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
          icon-size: 18px;
          color: rgba(0, 0, 0, 0.6); }
  .light-theme #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(0, 0, 0, 0.6); }
  .light-theme #topPanel .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12); }
    .light-theme #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(0, 0, 0, 0.87); }

.light-theme .system-status-icon {
  height: 24px;
  width: 24px;
  padding: 0px; }

.light-theme .clock-display * {
  padding: 4px 0px !important; }

.light-theme .mat-card {
  background: white;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .light-theme .mat-card .mat-card-title {
    background: rgba(0, 0, 0, 0.04);
    color: #3f51b5;
    height: 72px;
    padding: 0px 24px; }
    .light-theme .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .light-theme .mat-card .mat-card-title .mat-card-title-label {
      font-size: 24px; }
  .light-theme .mat-card .mat-card-content {
    padding: 24px;
    color: rgba(0, 0, 0, 0.87); }

.light-theme .categorized-app-card .overview-icon {
  margin: 8px; }

.light-theme .categorized-app-card .overview-icon-with-label {
  color: rgba(0, 0, 0, 0.87); }

.light-theme .backdrop-container {
  background: rgba(0, 0, 0, 0.5); }

.primary-theme .mat-panel-button {
  height: 48px;
  width: 48px; }
  .primary-theme .mat-panel-button .mat-panel-button-icon {
    width: 24px;
    height: 24px; }

.primary-theme .workspace-active-indicator {
  width: 3px;
  height: 48px; }
  .light-primary.primary-theme .workspace-active-indicator {
    background: rgba(0, 0, 0, 0.87); }
  .dark-primary.primary-theme .workspace-active-indicator {
    background: rgba(255, 255, 255, 0.87); }

.primary-theme .ripple-wave {
  border-radius: 2000px; }
  .light-primary.primary-theme .ripple-wave {
    background: rgba(0, 0, 0, 0.12); }
  .dark-primary.primary-theme .ripple-wave {
    background: rgba(255, 255, 255, 0.12); }

.primary-theme #leftPanelBox,
.primary-theme #leftDashSpacer {
  width: 48px; }

.light-primary.primary-theme .mat-button .mat-button-container {
  color: rgba(0, 0, 0, 0.87); }

.dark-primary.primary-theme .mat-button .mat-button-container {
  color: rgba(255, 255, 255, 0.87); }

.light-primary.primary-theme .mat-button:hover .mat-button-container {
  background: rgba(0, 0, 0, 0.04); }

.dark-primary.primary-theme .mat-button:hover .mat-button-container {
  background: rgba(255, 255, 255, 0.04); }

.primary-theme .mat-button.primary {
  background: #3f51b5; }
  .light-primary.primary-theme .mat-button.primary .mat-button-container {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.primary-theme .mat-button.primary .mat-button-container {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.primary-theme .mat-button.primary:hover .mat-button-container {
    background: rgba(0, 0, 0, 0.04); }
  .dark-primary.primary-theme .mat-button.primary:hover .mat-button-container {
    background: rgba(255, 255, 255, 0.04); }

.light-primary.primary-theme .mat-button .mat-panel-button {
  color: rgba(0, 0, 0, 0.6); }

.dark-primary.primary-theme .mat-button .mat-panel-button {
  color: rgba(255, 255, 255, 0.6); }

.light-primary.primary-theme .mat-button .mat-panel-button.active {
  background: rgba(0, 0, 0, 0.12); }

.dark-primary.primary-theme .mat-button .mat-panel-button.active {
  background: rgba(255, 255, 255, 0.12); }

.light-primary.primary-theme .mat-button .mat-panel-button.active {
  color: rgba(0, 0, 0, 0.87); }

.dark-primary.primary-theme .mat-button .mat-panel-button.active {
  color: rgba(255, 255, 255, 0.87); }

.primary-theme #panel {
  background: #3f51b5;
  width: 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .primary-theme #panel #panelLeft,
  .primary-theme #panel #panelCenter,
  .primary-theme #panel #panelRight {
    spacing: 0px; }
  .primary-theme #panel .panel-button {
    text-align: center;
    padding: 0px;
    spacing: 0px; }
    .light-primary.primary-theme #panel .panel-button {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary.primary-theme #panel .panel-button {
      color: rgba(255, 255, 255, 0.6); }
    .primary-theme #panel .panel-button > * {
      width: 28px;
      padding: 4px 0px;
      margin: 0px; }
      .light-primary.primary-theme #panel .panel-button > * {
        color: rgba(0, 0, 0, 0.6); }
      .dark-primary.primary-theme #panel .panel-button > * {
        color: rgba(255, 255, 255, 0.6); }
    .primary-theme #panel .panel-button:hover {
      box-shadow: none; }
      .light-primary.primary-theme #panel .panel-button:hover {
        background: rgba(0, 0, 0, 0.04); }
      .dark-primary.primary-theme #panel .panel-button:hover {
        background: rgba(255, 255, 255, 0.04); }
    .primary-theme #panel .panel-button:active, .primary-theme #panel .panel-button:focus, .primary-theme #panel .panel-button:checked {
      box-shadow: inset 3px 0 0px #3f51b5; }

.primary-theme #topBarSpacer {
  height: 48px; }

.primary-theme #topPanel {
  background: white;
  height: 48px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .primary-theme #topPanel .task-active-indicator {
    background: #3f51b5;
    height: 2px; }
  .primary-theme #topPanel .task-bar-item {
    font-size: 14px;
    height: 48px; }
    .primary-theme #topPanel .task-bar-item.active .task-bar-item-content .task-bar-item-title {
      color: #3f51b5; }
    .primary-theme #topPanel .task-bar-item .task-bar-item-content {
      padding: 0px 8px; }
      .primary-theme #topPanel .task-bar-item .task-bar-item-content .app-icon {
        icon-size: 24px;
        margin-right: 8px; }
      .primary-theme #topPanel .task-bar-item .task-bar-item-content .task-bar-item-title {
        max-width: 248px;
        margin-right: 8px;
        font-weight: 600;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6); }
      .primary-theme #topPanel .task-bar-item .task-bar-item-content .task-close-button {
        border-radius: 20px;
        width: 24px;
        height: 20px; }
        .primary-theme #topPanel .task-bar-item .task-bar-item-content .task-close-button .task-close-icon {
          icon-size: 18px;
          color: rgba(0, 0, 0, 0.6); }
  .primary-theme #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(0, 0, 0, 0.6); }
  .primary-theme #topPanel .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12); }
    .primary-theme #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(0, 0, 0, 0.87); }

.primary-theme .system-status-icon {
  height: 24px;
  width: 24px;
  padding: 0px; }

.primary-theme .clock-display * {
  padding: 4px 0px !important; }

.primary-theme .mat-card {
  background: white;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .primary-theme .mat-card .mat-card-title {
    background: #3f51b5;
    height: 72px;
    padding: 0px 24px; }
    .light-primary.primary-theme .mat-card .mat-card-title {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.primary-theme .mat-card .mat-card-title {
      color: rgba(255, 255, 255, 0.87); }
    .primary-theme .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .primary-theme .mat-card .mat-card-title .mat-card-title-label {
      font-size: 24px; }
  .primary-theme .mat-card .mat-card-content {
    padding: 24px; }
    .light-primary.primary-theme .mat-card .mat-card-content {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.primary-theme .mat-card .mat-card-content {
      color: rgba(255, 255, 255, 0.87); }

.primary-theme .categorized-app-card .overview-icon {
  margin: 8px; }

.primary-theme .categorized-app-card .overview-icon-with-label {
  color: rgba(0, 0, 0, 0.87); }

.primary-theme .backdrop-container {
  background: rgba(0, 0, 0, 0.5); }
