@import 'settings';
@import 'funcs';

.primary-bg {
    background-color: $color-primary;
}

.workspace-button .workspace-icon {
    color: dark-or-light($dark-mode, $color-fg, choose-contrast-color($color-primary, $color-fg, $color-bg));
}

.workspace-button {
    padding: 12px;
    &.active {
        background-color: $color-active-bg;
        .workspace-icon {
            //color: $color-active-fg;
            color: dark-or-light($dark-mode, $color-active-bg, $color-primary) !important;
        }
    }
}

.workspace-button:hover {
    background-color: $color-hover-bg;
    .workspace-icon {
        color: $color-active-fg;
    }
}

.workspace-main-icon {
    width: 24px;
    height: 24px;
    color: dark-or-light($dark-mode, $color-active-fg, choose-contrast-color($color-primary, $color-fg, $color-bg));
}

@if $dark-mode {
    .workspace-icon, .plus-icon {
        width: 24px;
        height: 24px;
        color: $color-fg;
    }
} @else {
    .workspace-icon {
        width: 24px;
        height: 24px;
        color: $color-fg;
    }
    .plus-icon {
        width: 24px;
        height: 24px;
        color: $color-fg !important;
    }
}

.workspace-active-indicator {
    width: 3px;
    height: 48px;
    background-color: dark-or-light($dark-mode, $color-primary, choose-contrast-color($color-primary, $color-fg, $color-bg));
}

.ripple-wave {
    //This is a hack because percentage is not handled yet
    border-radius: 2000px;
    background-color: $ripple;
}

#leftPanelBox,
#leftDashSpacer {
    width: $panel-size;
}

#panel {
    width: $panel-size;
    background-color: dark-or-light($dark-mode, $color-bg, $color-primary);
    box-shadow: $shadow;
    #panelLeft,
    #panelCenter {
        // spacing between activities<>app menu and such
        spacing: 0px;
    }
}

#topBarSpacer {
    height: $panel-size;
}

#topPanel {
    height: $panel-size;
    background-color: $color-bg;
    box-shadow: $shadow;
}

.task-active-indicator {
    //background: $color-active-fg;
    background: dark-or-light($dark-mode, $color-active-fg, $color-primary);
    height: 2px;
}

.task-bar-item {
    font-size: 14px;
    height: $panel-size;
    &:hover {
        background-color: $color-hover-bg;
    }
    &.active {
        .task-bar-item-content {
            .task-bar-item-title {
                //color: $color-active-fg;
                color: dark-or-light($dark-mode, $color-active-fg, $color-primary);
            }
            .task-close-button .task-close-icon {
                color: dark-or-light($dark-mode, $color-fg, $color-primary);
            }
        }
    }
    .task-bar-item-content {
        padding: 0px 8px;
        .app-icon {
            icon-size: 24px;
            margin-right: 8px;
        }
        .task-bar-item-title {
            max-width: 248px;
            margin-right: 8px;
            font-weight: 600;
            font-size: 14px;
            color: $color-fg;
        }
        .task-close-button {
            border-radius: 20px;
            width: 24px;
            height: 20px;
            &:hover {
                background-color: $color-hover-bg;
            }
            .task-close-icon {
                icon-size: 18px;
                color: $color-fg;
            }
        }
    }
}

.panel-button {
    text-align: center;
}

.system-status-icon {
    height: 24px;
    color: dark-or-light($dark-mode, $color-fg, choose-contrast-color($color-primary, $color-fg, $color-bg));
}

.clock-display {
    * {
        padding: 4px 0px !important;
        color: dark-or-light($dark-mode, $color-fg, choose-contrast-color($color-primary, $color-fg, $color-bg));
    }
}

.mat-card {
    background-color: $color-bg;
    border-radius: 6px;
    box-shadow: $shadow;
    .mat-card-title {
        background-color: $color-active-bg;
        color: $color-active-fg;
        height: 72px;
        padding: 0px 24px;
        .mat-card-title-icon {
            icon-size: 40px;
            margin-right: 16px;
        }
        .mat-card-title-label {
            font-size: 24px;
        }
    }
    .mat-card-content {
        padding: 24px;
        * {
            color: $color-fg;
        }
    }
}

.categorized-app-card {
    .overview-icon {
        margin: 8px;
    }
}

.backdrop-container {
    //background: rgba(255, 255, 255, 0.5);
    background: dark-or-light($dark-mode, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
}
