.headline-1 {
  font-family: "Roboto", sans-serif;
  font-size: 74pt;
  font-weight: 300;
  letter-spacing: -1.5px; }

.headline-2 {
  font-family: "Roboto", sans-serif;
  font-size: 46pt;
  font-weight: 300;
  letter-spacing: -0.5px; }

.headline-3 {
  font-family: "Roboto", sans-serif;
  font-size: 37pt; }

.headline-4 {
  font-family: "Roboto", sans-serif;
  font-size: 26pt;
  letter-spacing: 0.25px; }

.headline-5 {
  font-family: "Roboto", sans-serif;
  font-size: 18pt; }

.headline-6 {
  font-family: "Roboto", sans-serif;
  font-size: 14.5pt;
  font-weight: 500;
  letter-spacing: 0.15px; }

subtitle-1 {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  letter-spacing: 0.15px; }

.subtitle-2 {
  font-family: "Roboto", sans-serif;
  font-size: 10.5pt;
  font-weight: 500;
  letter-spacing: 0.1px; }

.subtitle-2-bis {
  font-family: "Roboto", sans-serif;
  font-size: 10.5pt;
  font-weight: 500;
  letter-spacing: 0.1px; }

.body-1 {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  letter-spacing: 0.5px; }

.body-2 {
  font-family: "Roboto", sans-serif;
  font-size: 10.5pt;
  letter-spacing: 0.25px; }

.caption {
  font-family: "Roboto", sans-serif;
  font-size: 9pt;
  letter-spacing: 0.4px; }

.overline {
  font-family: "Roboto", sans-serif;
  font-size: 7.5pt;
  letter-spacing: 1.5px; }

.light-primary.text-medium-emphasis {
  color: rgba(0, 0, 0, 0.6); }

.dark-primary.text-medium-emphasis {
  color: rgba(255, 255, 255, 0.6); }

.workspace-active-indicator {
  width: 3px; }
  .light-primary.workspace-active-indicator {
    background: rgba(0, 0, 0, 0.87); }
  .dark-primary.workspace-active-indicator {
    background: rgba(255, 255, 255, 0.87); }

.ripple-wave {
  border-radius: 10000px; }
  .light-primary.ripple-wave {
    background: rgba(0, 0, 0, 0.12); }
  .dark-primary.ripple-wave {
    background: rgba(255, 255, 255, 0.12); }

.light-primary.mat-button {
  color: rgba(0, 0, 0, 0.87); }

.dark-primary.mat-button {
  color: rgba(255, 255, 255, 0.87); }

.light-primary.mat-button:hover, .mat-button.highlighted {
  background: #2c397f; }

.dark-primary.mat-button:hover, .mat-button.highlighted {
  background: #707ecd; }

.mat-button.primary {
  background: #3f51b5; }
  .light-primary.mat-button.primary {
    color: rgba(0, 0, 0, 0.87); }
  .dark-primary.mat-button.primary {
    color: rgba(255, 255, 255, 0.87); }
  .light-primary.mat-button.primary:hover, .mat-button.primary.highlighted {
    background: #2c397f; }
  .dark-primary.mat-button.primary:hover, .mat-button.primary.highlighted {
    background: #707ecd; }

.light-primary.mat-button .mat-panel-button {
  color: rgba(0, 0, 0, 0.6); }

.dark-primary.mat-button .mat-panel-button {
  color: rgba(255, 255, 255, 0.6); }

.light-primary.mat-button .mat-panel-button.active {
  background: rgba(0, 0, 0, 0.12); }

.dark-primary.mat-button .mat-panel-button.active {
  background: rgba(255, 255, 255, 0.12); }

.light-primary.mat-button .mat-panel-button.active {
  color: rgba(0, 0, 0, 0.87); }

.dark-primary.mat-button .mat-panel-button.active {
  color: rgba(255, 255, 255, 0.87); }

#msPanel {
  background: rgba(63, 81, 181, 0.876);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  #msPanel .panel-button {
    text-align: center;
    font-weight: bold;
    -natural-hpadding: 0px;
    -minimum-hpadding: 0px; }
    .light-primary#msPanel .panel-button {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary#msPanel .panel-button {
      color: rgba(255, 255, 255, 0.6); }
    #msPanel .panel-button .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: 4px;
      margin-right: 4px; }
    .light-primary#msPanel .panel-button:hover {
      background: #2c397f; }
    .dark-primary#msPanel .panel-button:hover {
      background: #707ecd; }
    #msPanel .panel-button:active, #msPanel .panel-button:overview, #msPanel .panel-button:focus, #msPanel .panel-button:checked {
      box-shadow: inset 3px 0 0px #3f51b5; }
      .light-primary#msPanel .panel-button:active, #msPanel .panel-button:overview, #msPanel .panel-button:focus, #msPanel .panel-button:checked {
        background: #2c397f; }
      .dark-primary#msPanel .panel-button:active, #msPanel .panel-button:overview, #msPanel .panel-button:focus, #msPanel .panel-button:checked {
        background: #707ecd; }
      .light-primary#msPanel .panel-button:active, #msPanel .panel-button:overview, #msPanel .panel-button:focus, #msPanel .panel-button:checked {
        color: rgba(0, 0, 0, 0.87); }
      .dark-primary#msPanel .panel-button:active, #msPanel .panel-button:overview, #msPanel .panel-button:focus, #msPanel .panel-button:checked {
        color: rgba(255, 255, 255, 0.87); }
    .light-primary.unlock-screen #msPanel .panel-button, .login-screen #msPanel .panel-button, .lock-screen #msPanel .panel-button {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary.unlock-screen #msPanel .panel-button, .login-screen #msPanel .panel-button, .lock-screen #msPanel .panel-button {
      color: rgba(255, 255, 255, 0.6); }
    .light-primary.unlock-screen #msPanel .panel-button:focus, .unlock-screen #msPanel .panel-button:hover, .unlock-screen #msPanel .panel-button:active, .login-screen #msPanel .panel-button:focus, .login-screen #msPanel .panel-button:hover, .login-screen #msPanel .panel-button:active, .lock-screen #msPanel .panel-button:focus, .lock-screen #msPanel .panel-button:hover, .lock-screen #msPanel .panel-button:active {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.unlock-screen #msPanel .panel-button:focus, .unlock-screen #msPanel .panel-button:hover, .unlock-screen #msPanel .panel-button:active, .login-screen #msPanel .panel-button:focus, .login-screen #msPanel .panel-button:hover, .login-screen #msPanel .panel-button:active, .lock-screen #msPanel .panel-button:focus, .lock-screen #msPanel .panel-button:hover, .lock-screen #msPanel .panel-button:active {
      color: rgba(255, 255, 255, 0.87); }
  #msPanel .panel-status-indicators-box,
  #msPanel .panel-status-menu-box {
    spacing: 2px;
    vertical-align: middle;
    text-align: center;
    min-height: 20px; }
  #msPanel .clock-display * {
    padding: 4px 0px !important; }
  #msPanel .system-status-icon {
    height: 20px;
    icon-size: 1.09em;
    margin-top: 4px;
    margin-bottom: 4px; }
  #msPanel .indicator-active {
    color: tomato; }

#topPanel {
  background: rgba(63, 81, 181, 0.876);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  #topPanel .task-active-indicator {
    background: #3f51b5;
    height: 2px; }
  #topPanel .mat-panel-button .mat-panel-button-icon {
    color: rgba(0, 0, 0, 0.6); }
  #topPanel .mat-panel-button.active {
    background: rgba(0, 0, 0, 0.12); }
    #topPanel .mat-panel-button.active .mat-panel-button-icon {
      color: rgba(0, 0, 0, 0.87); }
  #topPanel .task-bar-item {
    font-size: 10.5pt; }
    #topPanel .task-bar-item.active .task-bar-item-content,
    #topPanel .task-bar-item.active .task-bar-icon-container {
      background: rgba(255, 255, 255, 0.03); }
      .light-primary#topPanel .task-bar-item.active .task-bar-item-content, #topPanel .task-bar-item.active .task-bar-icon-container {
        color: rgba(0, 0, 0, 0.87); }
      .dark-primary#topPanel .task-bar-item.active .task-bar-item-content, #topPanel .task-bar-item.active .task-bar-icon-container {
        color: rgba(255, 255, 255, 0.87); }
    .light-primary#topPanel .task-bar-item .task-bar-icon-container {
      color: rgba(0, 0, 0, 0.6); }
    .dark-primary#topPanel .task-bar-item .task-bar-icon-container {
      color: rgba(255, 255, 255, 0.6); }
    #topPanel .task-bar-item .app-icon {
      icon-size: 24px;
      width: 24px;
      height: 24px; }
    #topPanel .task-bar-item .task-bar-item-content {
      padding: 0px 12px;
      max-width: 248px; }
      .light-primary#topPanel .task-bar-item .task-bar-item-content {
        color: rgba(0, 0, 0, 0.6); }
      .dark-primary#topPanel .task-bar-item .task-bar-item-content {
        color: rgba(255, 255, 255, 0.6); }
      #topPanel .task-bar-item .task-bar-item-content .app-icon {
        margin-right: 12px; }
      #topPanel .task-bar-item .task-bar-item-content .task-bar-item-title {
        margin-right: 12px;
        font-weight: 600;
        font-size: 10.5pt; }
      #topPanel .task-bar-item .task-bar-item-content .task-close-button {
        border-radius: 20px;
        width: 24px;
        height: 24px;
        transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        .light-primary#topPanel .task-bar-item .task-bar-item-content .task-close-button {
          color: rgba(0, 0, 0, 0.6); }
        .dark-primary#topPanel .task-bar-item .task-bar-item-content .task-close-button {
          color: rgba(255, 255, 255, 0.6); }
        #topPanel .task-bar-item .task-bar-item-content .task-close-button:hover {
          background: rgba(255, 255, 255, 0.12); }
        #topPanel .task-bar-item .task-bar-item-content .task-close-button:hover:active {
          background: rgba(255, 255, 255, 0.24); }
      #topPanel .task-bar-item .task-bar-item-content .task-small-icon {
        icon-size: 18px; }

.light-primary.drop-placeholder {
  background: rgba(0, 0, 0, 0.1); }

.dark-primary.drop-placeholder {
  background: rgba(255, 255, 255, 0.1); }

.mat-card {
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); }
  .mat-card .mat-card-title {
    background: #3f51b5;
    height: 72px;
    padding: 0px 24px; }
    .light-primary.mat-card .mat-card-title {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.mat-card .mat-card-title {
      color: rgba(255, 255, 255, 0.87); }
    .mat-card .mat-card-title .mat-card-title-icon {
      icon-size: 40px;
      margin-right: 16px; }
    .mat-card .mat-card-title .mat-card-title-label {
      font-size: 18pt; }
  .mat-card .mat-card-content {
    padding: 24px; }
    .light-primary.mat-card .mat-card-content {
      color: rgba(0, 0, 0, 0.87); }
    .dark-primary.mat-card .mat-card-content {
      color: rgba(255, 255, 255, 0.87); }

MsApplicationLauncher .search-entry {
  background: #3f51b5;
  border-radius: 48px; }

.surface {
  background: rgba(63, 81, 181, 0.987); }

.surface-lighter {
  background: rgba(112, 126, 205, 0.987); }

.surface-darker {
  background: rgba(44, 57, 127, 0.987); }
