.workspace-button {
    padding: 12px;
    &.active {
        background-color: rgba(255, 255, 255, 0.1);
        .workspace-icon {
            color: rgba(255, 255, 255, 1);
        }
    }
}

.workspace-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    .workspace-icon {
        color: rgba(255, 255, 255, 1);
    }
}

.workspace-icon {
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.workspace-active-indicator {
    width: 3px;
    height: 48px;
}

.ripple-wave {
    border-radius: 2000px;
    background-color: rgba(255, 255, 255, 0.3);
}

#dash {
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.24);

    border-radius: 0;
    padding: 0;
    border: 0;
}

#panelLeft,
#panelCenter {
    // spacing between activities<>app menu and such
    spacing: 0px;
}
.task-active-indicator {
    background: white;
    height: 2px;
}
.task-bar-item {
    font-size: 14px;
    height: 48px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    &.active {
        .task-bar-item-content {
            .task-bar-item-title {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    .task-bar-item-content {
        padding: 0px 8px;
        .app-icon {
            margin-right: 8px;
        }
        .task-bar-item-title {
            max-width: 248px;
            margin-right: 8px;
            font-weight: 600;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
        }
        .close-button {
            border-radius: 20px;
            width: 20px;
            height: 20px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.panel-button {
    text-align: center;
    * {
        padding: 0;
        margin: 0;
    }
}

.clock-display {
    * {
        padding: 4px 0px !important;
    }
}

.mat-card {
    background-color: rgba(25, 25, 25, 1);
    border-radius: 6px;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.24);
    .mat-card-title {
        background-color: rgba(255, 255, 255, 0.1);
        height: 72px;
        padding: 0px 24px;
        .mat-card-title-icon {
            icon-size: 40px;
            margin-right: 16px;
        }
        .mat-card-title-label {
            font-size: 24px;
        }
    }
    .mat-card-content {
        padding: 24px;
    }
}

.categorized-app-card {
    .overview-icon {
        margin: 8px;
    }
}

#panel {
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.24);
}
